.FooterSecond {
  width: 100%;
  background: linear-gradient(
    to bottom,
    #007bff,
    #3798ff
  ); // Gradient xanh dương
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .content {
    max-width: 90%;
    text-align: left;
  }

  .title {
    margin: 35px 0;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.4;
  }

  .description {
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.8;
  }

  .buttonGroup {
    margin-top: 20px;
    justify-content: center; // Căn giữa theo chiều ngang
    align-items: center;
    gap: 12px; // Khoảng cách giữa các nút

    button {
      font-size: 14px;
      padding: 10px 15px;
      border-radius: 0.75rem;
      border: 1px solid #fff;
      font-weight: bold;
      width: auto;
      margin-right: 15px;
      margin-bottom: 26px;
      margin-top: 10px;

      &.buyNow {
        background: white;
        color: #000000;

        &:hover {
          background: #f1f1f1;
        }
      }

      &.appStore {
        background: transparent;
        color: white;

        &:hover {
          background: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }

  .imageContainer {
    position: relative; // Quan trọng để Next.js hiểu layout
    width: 100%; // Đảm bảo full chiều ngang
    height: 360px; // Điều chỉnh độ cao phù hợp

    img {
      object-fit: cover; // Đảm bảo ảnh lấp đầy container
    }
  }
}

/* Responsive */
@media (min-width: 768px) {
  .FooterSecond {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
    
    .content {
      max-width: 50%;
    }
    
    .imageContainer {
      width: 50%;
      height: 500px;
    }
  }
}

@media (max-width: 767px) {
  .FooterSecond {
    .title {
      font-size: 20px;
    }

    .description {
      font-size: 14px;
    }

    .buttonGroup {
      flex-direction: column;
      gap: 10px;

    
    }

    .imageContainer {
      height: 300px;
    }
  }
}
