.container {
  max-width: 600px;
  margin: auto;
  padding: 80px 16px;
  font-family: "Arial", sans-serif;
  color: var(--blackColor);
}

.title {
  font-size: 34px;
  font-weight: 700;
  text-align: center;
}

.subtitle {
  font-size: 18px;
  text-align: center;
  color: #555;
  margin: 32px 8px;
  font-weight: bold;
}

.faqList {
  display: flex;
  flex-direction: column;
}

.faqItem {
  background: #f8f9fa;
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 24px;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.text {
  flex-grow: 1;
  font-size: 18px;
  font-weight: bold;
}

.toggleBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.toggleBtn img {
  width: 24px; /* Điều chỉnh kích thước icon */
  height: 24px;
}

.answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.6s ease-in, opacity 0.6s ease-in-out,
    padding 0.6s ease-in-out;
}

.answer.show {
  max-height: 200px; // Giá trị lớn để đủ hiển thị nội dung
  opacity: 1;
  padding: 16px 0; // Thay đổi padding khi hiển thị
}
