.container {
  padding: 20px;
  max-width: 100%;
  margin: auto;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    h3 {
      font-size: 18px;
      font-weight: bold;
    }

    .viewMore {
      font-size: 14px;
      color: #2076f3;
      cursor: pointer;
      text-decoration: none;
      color: var(--grayColor);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  /* Cuộn ngang */
  .listWrapper {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none; /* Ẩn scrollbar cho Firefox */

    &::-webkit-scrollbar {
      display: none; /* Ẩn scrollbar cho Chrome */
    }
  }

  .list {
    display: flex;
    flex-direction: row; /* Xếp ngang */
    gap: 15px;
  }

  .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .appItem {
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    width: 100%;
    height: 80px; /* Giữ cho các phần tử đồng đều */
  

    &:hover {
      background: #ececec;
    }

    img {
      border-radius: 10px;
      flex-shrink: 0;
    }

    .info {
      flex: 1; /* Lấp đầy không gian còn lại */
      margin-left: 10px;
      min-width: 0; /* Bắt buộc để text-overflow hoạt động */
      overflow: hidden;
      display: flex;
      flex-direction: column;

      h4,
      .package {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 200px;
      }

      h4 {
        font-size: 14px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block; 
        margin: 0;
      }

      .package {
        font-size: 12px;
        color: gray;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        margin: 0;
      }
    }

    .details {
      text-align: right;
      font-size: 12px;
      color: gray;
      display: flex;
      min-width: 0;
      flex-shrink: 0; /* Không cho phần này bị thu nhỏ */

      p {
        margin: 0;
        padding-right: 1.5rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        min-width: 0; /* Đảm bảo hoạt động */
        max-width: 100px; /* Thay đổi giá trị phù hợp */
      }
    }
  }
}
