.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 20px;
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 1000;
    left: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.menuIcon {
    display: none;
    cursor: pointer;
    font-size: 32px;
}

/* Thanh nav (ẩn mặc định) */
.nav {
    position: fixed;
    top: 0;
    right: -100%; /* Ẩn bên ngoài */
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    z-index: 1001;
}

/* Khi mở menu, trượt vào */
.nav.open {
    right: 0;
}

/* Overlay mờ */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1000;
}

/* Hiển thị overlay khi menu mở */
.overlay.open {
    display: block;
}

/* Nút đóng */
.closeIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: var(--background);
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

.link {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
    margin-top: 40px;
    width: 100%;

    a {
        text-decoration: none;
        color: black;
        font-weight: 500;
    }

    /* Màu trang hiện tại */
    a.active {
        color: #2076f3;
        font-weight: bold;
        position: relative;
    }

    a.active::after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: -4px;
        left: 0;
    }
}

/* Hành động */
.action {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 14px;
    width: 100%;
    border-top-width: medium;

    button {
        width: 100%;
        height: 45px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 10px;
    }

    .buy {
        background: linear-gradient(90deg, #0cabeb, #2076f3);
        color: white;
    }

    .login {
        border: 1px solid #e7e7e7;
        background: #f8f9fb;
        color: black;
    }

    .language {
        font-size: 22px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .menuIcon {
        display: block;
        cursor: pointer;
        color: #000;
    }

    /* Khi menu mở, ẩn cuộn trang */
    body.menu-open {
        overflow: hidden;
    }
}
