

@font-face {
  font-family: "HarmonyOS";
  src: url("/font/HarmonyOS_Sans_Thin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HarmonyOS";
  src: url("/font/HarmonyOS_Sans_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HarmonyOS";
  src: url("/font/HarmonyOS_Sans_Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HarmonyOS";
  src: url("/font/HarmonyOS_Sans_Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

:root {
  --backgroundColor: rgba(240, 240, 240, 0.655);
  --redColor: #de071c;
  --redColorBlur: #f8d7da87;

  --blackColor: #000000;
  --whiteColor: #ffffff;
  --grayColor: #bababa;
  --greenColor: #30e764;
  --primaryColor: #4ba3df;
  --colorButtonSign: #115df4;
  --font-harmonyos: "HarmonyOS Sans", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

body {
  font-family: "HarmonyOS", sans-serif;
}

a {
  text-decoration: none !important;
  color: var(--blackColor);
  font-size: 14px;

  &:hover {
    color: var(--primaryColor);
  }

  &:focus {
    outline: none;
    border: none;
    text-decoration: none !important;
  }
}
