@tailwind base;
@tailwind components;
@tailwind utilities;

$blackColor: #000000 !default;
$primary-color: #3498db !default;
$whiteColor: #ffffff !default;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
        --whitegroud: #ffffff;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
