$primary-color: #1976d2;
$gradient-bg: linear-gradient(to right, #007bff, #0056b3);

.login-container {
    display: flex;
    height: 100vh; /* Chiếm toàn bộ chiều cao viewport */
    overflow: hidden; /* Ngăn cuộn toàn bộ container */

    .login-form {
        flex: 0 0 45%; /* Chiếm 45% chiều rộng */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2.5rem;
        background-color: #fff;
        height: 100vh;
        overflow-y: auto; /* Cho phép cuộn form đăng nhập */
       

        .title {
            font-size: 32px;
            font-weight: 700;
            color: var(--background);
        }

        .subtitle {
            font-size: 14px;
            font-weight: 400;
            color: #ccc;
            margin: 20px 0 30px;
        }
        .inputField {
            width: 100%;
            margin: 20px 0;

            :global(.MuiOutlinedInput-root) {
                border-radius: 0.75rem !important;
            }
        }

        .options {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            a {
                color: var(--primaryColor);
            }
        }

        .login-button {
            width: 100%;
            padding: 12px;
            border-radius: 0.75rem;
        }

        .google-login {
            width: 100%;
            padding: 12px;
            border-radius: 0.75rem; 
            border: 1px solid #e8e8e8;
            color: var(--blackColor);
            font-weight: 600;

            &:hover {
                color: var(--primaryColor); 
            }

            .googleIcon {
                margin-right: 10px;
                width: 20px;
                height: 20px;
                object-fit: contain;
                text-align: center;
            }
        }

        .register {
            text-align: center;
    margin: 70px 0 0;
    font-size: 16px;

            .register-link {
                color: var(--primaryColor);

                &:hover {
                    opacity: 0.8;   
                }
            }
        }
    }

    .login-image {
        width: 55%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        background: $gradient-bg;
        color: white;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;

        @media (max-width: 1000px) {
            display: none; /* Ẩn trên mobile */
        }

        img {
            width: 500px;
            height: auto;
        }

        h6 {
            margin-top: 10px;
        }
    }
}

@media (max-width: 1000px) {
    .login-container {
        display: block; /* Hiển thị dạng block */
    }
}
