.container {
  margin-top: 10px;
  margin-left: 15px ;
  margin-right: 15px;
}

.banner {
  background: linear-gradient(to right, #4facfe, #3af89d);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin: 20px;

  .image {
    width: 100%;
    border-radius: inherit;
    height: 23.5625rem;
  }
}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 0 4rem;
}

.title {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: left;
}

.input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 10px;
  border: 1px solid transparent; /* Để hover có thể thay đổi border */
  outline: none;
  font-size: 1rem;
  text-align: center;
  background: var(--whitegroud);
  transition: border 0.3s ease; /* Hiệu ứng mượt */

  &:hover {
    border: 1px solid var(--greenColor);
  }

  &:focus {
    border: 1px solid var(--greenColor); /* Khi click vào cũng đổi màu */
  }
}

@media (min-width: 768px) {
  .image {
    width: 100%;
  }
}

// Moblie
@media (max-width: 767px) {
  .container {
    margin: 10px 0;
  }

  .image {
    width: 100%;
  }

  .content {
    gap: 2rem;
    padding: 0 3rem;
  }
}
